behave>=1.2.6
parameterized>=0.8.1
requests>=2.26.0
requests_toolbelt>=0.9.1
selenium>=4.0.0.rc1
unittest-xml-reporting>=3.0.4
webdriver-manager>=3.4.2

beautifulsoup4>=4.9.3
lxml>=4.6.3
Faker>=8.12.1